<div class="main-content page-m">
  <div class="section-content section-content-p30 e-spc">
    <div class="container-fluid">

      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <!-- Customer -->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>
          <div class="row">
            <div class="col-md-1"><label>First Name</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <input formControlName="firstName" type="text" placeholder="First Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label>Last Name</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <input formControlName="lastName" type="text" placeholder="Last Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label>Email</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <input formControlName="email" type="text" placeholder="Email">
              </div>
            </div>
          </div>
        </div>

        <!-- Shipping Address -->
        <div formGroupName="shippingAddress" class="form-area">
          <h3>Shipping Address</h3>
          <div class="row">
            <div class="col-md-1"><label>Country</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <select formControlName="country">
                  <option>TODO</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label>Street</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <input formControlName="street" type="text" placeholder="Street">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label>City</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <input formControlName="city" type="text" placeholder="City">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label>State</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <select formControlName="state">
                  <option>TODO</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label>Zip Code</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <input formControlName="zipCode" type="text" placeholder="Zip Code">
              </div>
            </div>
          </div>
        </div>

        <!-- CheckBox to copy shipping to billing address -->
        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingToBillingAddress($event)">
            <span class="au-checkmark"></span>Billing Address same as Shipping Address
          </label>
        </div>

        <!-- Billing Address-->
        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>
          <div class="row">
            <div class="col-md-1"><label>Country</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <select formControlName="country">
                  <option>TODO</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label>Street</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <input formControlName="street" type="text" placeholder="Street">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label>City</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <input formControlName="city" type="text" placeholder="City">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label>State</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <select formControlName="state">
                  <option>TODO</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label>Zip Code</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <input formControlName="zipCode" type="text" placeholder="Zip Code">
              </div>
            </div>
          </div>
        </div>

        <!-- Credit Card -->
        <div formGroupName="creditCard" class="form-area">
          <h3>Credit Card</h3>
          <div class="row">
            <div class="col-md-1"><label>Card Type</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <select formControlName="cardType">
                  <option>Visa</option>
                  <option>Mastercard</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label>Name on Card</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text" placeholder="Name on Card">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label>Card Number</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <input formControlName="cardNumber" type="text" placeholder="Card Number">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label>Security Code</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <input formControlName="securityCode" type="text" placeholder="Security Code">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label>Security Code</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <input formControlName="securityCode" type="text" placeholder="Security Code">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label>Expiration Month</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option>TODO</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1"><label>Expiration Year</label></div>
            <div class="col-md-7">
              <div class="input-space">
                <select formControlName="expirationYear">
                  <option>TODO</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Order details -->
        <div class="form-area">
          <h3>Review Your Order</h3>
          <p>Total Quantity: {{totalQuantity}}</p>
          <p>Shipping: FREE</p>
          <p>Total Price: {{totalPrice | currency: 'EUR'}}</p>
        </div>

        <!-- Purchase button -->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>
      </form>
    </div>
  </div>
</div>
